<server description="new server">
    <featureManager>
        <feature>appSecurity-2.0</feature>
        <feature>jsp-2.3</feature>
        <feature>jdbc-4.2</feature>
        <feature>jndi-1.0</feature>
        <feature>servlet-4.0</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>ldapRegistry-3.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>ssl-1.0</feature>
        <feature>samlWeb-2.0</feature>
        <feature>SpringBoot-2.0</feature>
    </featureManager>

    <sslDefault sslRef="DefaultSSLSettings" />
    <ssl clientAuthenticationSupported="true" id="DefaultSSLSettings" keyStoreRef="defaultKeyStore" />
    <keyStore id="defaultKeyStore"
        location="/Users/vishnukugarthi/Documents/Liberty_sso/security/key.jks"
        password="changeit" />

    <httpEndpoint id="defaultHttpEndpoint" host="*"
        httpPort="9085" httpsPort="9559" />

    <samlWebSso20
        httpsRequired="true"
        id="defaultSP"
        idpMetadata="/Users/vishnukugarthi/Documents/Liberty_sso/security/Metadata_preprod.login.w3.ibm.com_PREPROD.xml"
        mapToUserRegistry="No"
        signatureMethodAlgorithm="SHA256"
        spHostAndPort="https://icfs.local:9559" />

    <applicationManager autoExpand="true" />
    <applicationMonitor updateTrigger="mbean" />

    <!-- <webApplication contextRoot="/" id="7mar-guide-spring-boot"
        location="7mar-guide-spring-boot-0.1.0.war"
        name="7mar-guide-spring-boot">
        <application-bnd>
            <security-role name="User">
                <special-subject type="ALL_AUTHENTICATED_USERS" />
            </security-role>
        </application-bnd>
    </webApplication> -->

    <webApplication contextRoot="/" id="7mar-guide-spring-boot"
        location="7mar-guide-spring-boot-0.1.0.war"
        name="7mar-guide-spring-boot" />

    <!-- <springBootApplication id="7mar-guide-spring-boot"
        location="7mar-guide-spring-boot-0.1.0.jar"
        name="7mar-guide-spring-boot" /> -->
</server>