<server description="new server">
    <featureManager>
        <feature>springBoot-2.0</feature>
        <feature>jsp-2.3</feature>
        <feature>localConnector-1.0</feature>
        <feature>samlWeb-2.0</feature>
        <feature>servlet-4.0</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>jdbc-4.1</feature>
    </featureManager>

    <!-- <sslDefault sslRef="DefaultSSLSettings" />

    <ssl clientAuthenticationSupported="true" id="DefaultSSLSettings" keyStoreRef="defaultKeyStore" />

    <keyStore id="defaultKeyStore"
        location="/Users/vishnukugarthi/Documents/Liberty_sso/security/key.jks"
        password="changeit" /> -->

    <httpEndpoint id="defaultHttpEndpoint" host="*"
        httpPort="9085" httpsPort="9555" />

    <!-- <samlWebSso20
        httpsRequired="true"
        id="defaultSP"
        idpMetadata="/Users/vishnukugarthi/Documents/Liberty_sso/security/idpMetadata.xml"
        mapToUserRegistry="No"
        signatureMethodAlgorithm="SHA256"
        spHostAndPort="https://icfs.local:9555" /> -->

    <applicationManager autoExpand="true" />

    <applicationMonitor updateTrigger="mbean" />

    <webApplication contextRoot="/" id="guide-spring-boot"
        location="guide-spring-boot-0.1.0.war"
        name="guide-spring-boot">
        <application-bnd>
            <security-role name="User">
                <special-subject type="ALL_AUTHENTICATED_USERS" />
            </security-role>
        </application-bnd>
    </webApplication>

    <!-- <webApplication contextRoot="/" id="guide-spring-boot"
    location="guide-spring-boot-0.1.0.war"
    name="guide-spring-boot" /> -->

    <!-- <springBootApplication id="guide-spring-boot"
        location="thin-guide-spring-boot-0.1.0.jar"
        name="guide-spring-boot" /> -->
</server>