<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">
  <display-name>guide-spring-boot</display-name>
  <!-- <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list> -->

  <welcome-file-list>
    <welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <display-name>UserConstraint</display-name>
    <web-resource-collection>
      <web-resource-name>UserCollection</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>PUT</http-method>
      <http-method>HEAD</http-method>
      <http-method>TRACE</http-method>
      <http-method>POST</http-method>
      <http-method>DELETE</http-method>
      <http-method>OPTIONS</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>Auto generated Authorization Constraint</description>
      <role-name>User</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-role>
    <description>Someone who uses the Project.</description>
    <role-name>User</role-name>
  </security-role>
  <distributable />
  <security-role>
    <role-name>Administrator</role-name>
  </security-role>
  <!--   <login-config> -->
  <!--     <auth-method>BASIC</auth-method> -->
  <!--     <realm-name>Evaluation Area</realm-name> -->
  <!--   </login-config> -->
  <resource-ref>
    <res-ref-name>services/cache/oAuthTokenSessionCache</res-ref-name>
    <res-type>com.ibm.websphere.cache.DistributedMap</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
</web-app>